.modal-content{
   display: none;



    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
}


.index1 { 
  background: url(../img/2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*
-bootstrap pozycja tła i kolor pod przyciskami się zmienił
-slideshow z backgroundu
-przycick na backgroundzie z konkretna gra 
-email po rejestracji i logowaniu */

